__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
*.md
influxdb-data
grafana-data
grafana-provisioning
video/input
video/output
model
src
tools
.vscode
.idea
